name: Publish Smart-ui-vite To Npm

on:
  push:
    branches: [publish-smart-ui-vite]

jobs:
  publish:
    runs-on: ubuntu-latest

    name: "publish npm"

    environment: npm

    steps:
      - uses: actions/checkout@master
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
      - name: Install modules
        run: pnpm install
      - name: Build
        run:  npm run build
      - name: "Publish to the npm registry"
        uses: primer/publish@3.0.0
        env:
          GITHUB_TOKEN: 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   # github personal access token
          NPM_AUTH_TOKEN: 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 # 跟前面步骤中的 NPM_AUTH_TOKEN 保持一致
        with:
          default_branch: "publish"
          # dir: "smart-ui-vite"